*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: system-ui;
}
:root{
  --accent-color: #051A2B;
  --accent-green: #5FC84D;
}
body{
  background: var(--accent-color) ;
  color: #E9E9E9;
}
span{
  color: var(--accent-green);
}
.hero{
  height: 90vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .image{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.hero .title{
  height: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  font-size: 3vw;
}
.title h1{
   font-weight: 300;
}
main{
  background: white;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
main h2{
  font-size: 8vw;
  margin-bottom: 10px;
}
main p{
 border-left: solid 5px var(--accent-color);
 max-width: 600px;
 padding-left: 5px;
 margin: 20px 30px;
 line-height: 2;
}
main button{
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: .5s all;
  font-size: 1rem;
}
main button:hover{
  background: transparent;
  color: var(--accent-color);
}
.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 50px 30px;
  gap: 1rem;
  border: solid 1px var(--accent-green);
}
.events h3{
  font-size: 5vw;
  padding: 20px 0;
}
.events .event{
  background: white;
  color: var(--accent-color);
  width: 80vw;
  padding: 20px;
}

.showcase{
  padding: 50px 20px;
  text-align: center;
}
.showcase h4{
  font-size: 5vw;
  padding: 20px 0;
}
.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}
.boxes .box{
  width: 300px;
  height: 200px;
  border: 1px solid white;
display: flex;
flex-direction: column;
gap: 1rem;
  justify-content: center;
  align-items: center;
}
.box i{
  font-size: 6vw;
}
/* Review*/
.testimonial{
  max-height: 100vh;
  margin: 6% 0 ;
  color: var(--accent-color);
}
.testimonial h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  padding: 10px 5px 10px 0;
}
.wrapper {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 1rem;
}
.testimonial__card {
  position: relative;
  background: white;
  padding: 50px 5px 10px 5px;
   max-height: 600px;
border: 1px solid black;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 48px;
  margin-top: 48px;
}
.customer__quotes {
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 500;
  max-width: 820px;
}
.customer__avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: absolute;
  top: -48px;
}
.customer__name {
  font-size: 24px;
  line-height: 30px;
}
.customer__role {
  opacity: 0.8;
}
.btn__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}
/* review end */
/* Staff*/
.staff{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 350px;
  width: 100%;
  max-height: 100vh;
  margin: 50px auto;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.staff h4{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--accent-green);
  padding: 10px 5px 10px 0;
}
a{
  text-decoration: none;
}
.people__slide .swiper-slide {
  width: 297px;
  padding: 30px 0 10px 0;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.people__slide .swiper-slide .people__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 276px;
  padding: 25px 30px 20px;
  border-radius: 48px;
  background: var(--accent-green);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.people__slide .swiper-slide .people__card .people__image {
  position: relative;
  padding: 4px;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.people__slide .swiper-slide .people__card .people__image img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.people__slide .swiper-slide .people__card .people__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.people__slide .swiper-slide .people__card .people__social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 0;
}
.people__slide .swiper-slide .people__card .people__social li {
  padding: 0 5px;
}
.people__slide .swiper-slide .people__card .people__social li a {
  padding: 5px;
  color: #fff;
}
.people__slide .swiper-slide .people__card .people__name {
  margin-bottom: 10px;
}
.people__slide .swiper-slide .people__card .people__position {
  margin-bottom: 15px;
  font-size: 14px;
  color: #fff;
}
.people__slide .swiper-slide .people__card .people__desc {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
}
.people__slide .swiper-slide .people__card .people__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.people__slide .swiper-slide .people__card .people__btn a {
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  border: solid 1px #fff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.people__slide .swiper-slide .people__card .people__btn a:hover {
  background-color: #fff;
  color: #e26565;
}
.people__slide .swiper-slide.swiper-slide-active {
  -webkit-animation-name: elastic1;
          animation-name: elastic1;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.people__slide .swiper-slide.swiper-slide-active {
  -webkit-animation-name: elastic1_sp;
          animation-name: elastic1_sp;
}
.people__slide .swiper-slide:nth-child(even) .people__card {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.people__slide .swiper-slide:nth-child(odd) .people__card {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}



@-webkit-keyframes elastic1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  55% {
    -webkit-transform: scale(1.27);
            transform: scale(1.27);
  }
  70% {
    -webkit-transform: scale(1.36);
            transform: scale(1.36);
  }
  85% {
    -webkit-transform: scale(1.31);
            transform: scale(1.31);
  }
  100% {
    -webkit-transform: scale(1.33);
            transform: scale(1.33);
  }
}



@keyframes elastic1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  55% {
    -webkit-transform: scale(1.27);
            transform: scale(1.27);
  }
  70% {
    -webkit-transform: scale(1.36);
            transform: scale(1.36);
  }
  85% {
    -webkit-transform: scale(1.31);
            transform: scale(1.31);
  }
  100% {
    -webkit-transform: scale(1.33);
            transform: scale(1.33);
  }
}

@-webkit-keyframes elastic1_sp {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes elastic1_sp {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
} 
/*Staff end*/
/*Form*/
/* Form */
.form-wrapper{
  background-color: white;
  margin: 150px 0;
  padding: 50px 0;
  
}
.form-wrapper h3{
  text-align: center;
  font-size: 3.5vmax;
  letter-spacing: .5rem;
  padding: 20px 0;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid var(--accent-green);
  padding: 4px;
  border-radius: 10% 50% 150% 50% / 50% 50% 50% 40%;
  margin: 0 80px;
  color: var(--accent-color);
}
.formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 5px;
  }
  .formbold-main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: inherit;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 12px;
    color:  var(--accent-green);
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--accent-green);
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid var(--accent-green);
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: var(--accent-color);
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .formbold-btn:hover {
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 100%;
    }
  }
  /* Form*/
/*Form end*/
footer{
  background: var(--accent-green);
 color: white;
 padding: 50px 10px 0 10px;
 position: relative;
 bottom: 0;
}
footer h6{
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: var(--accent-color);
  padding: 0 0 10px 0;
}
footer p{
  margin: 10px 0 20px 40px;
}
footer p address{
 font-style: normal; 
 font-size: .3rem;
 text-align: center;
 
}
footer .st{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
footer .social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  height: 100px;
}
footer .social div i{
  color: var(--accent-color);
}
.bottom-text{
  padding-top: 50px;
  font-size: .6rem;
  text-align: center;
}
.svg{
  position: relative;
  top: 15px;
}
.map{
  width: 100%;
  display: grid;
  place-items: center;
  height: 300px;
  padding: 50px 0;
}
.map h6{
  font-size: 5vw;
  padding: 20px 0;
}